@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jack";
  src: url("/fonts/Jackwrite-8MxjA.ttf");
}

@font-face {
  font-family: "jackthin";
  src: url("/fonts/JackwriteThin-YzvOL.ttf");
}


@layer base {
  html {
    @apply w-full mx-auto font-sans bg-background;
  }
  header {
    @apply fixed w-full z-50;
  }
  main {
    @apply flex flex-col h-screen justify-center items-center;
  }
  footer {
    @apply m-2;
  }
  body {
    @apply text-primary;
  }
  h1 {
    @apply font-bold leading-relaxed tracking-widest uppercase text-5xl mb-2;
  }
  h2 {
    @apply font-jack font-medium tracking-wide sm:text-3xl text-2xl leading-tight ;
  }
  h3 {
    @apply font-medium uppercase tracking-wider sm:text-2xl text-xl sm:my-4 my-2;
  }
  h4 {
    @apply md:text-lg text-3xl mb-10 uppercase tracking-wider px-4;
  }
  h5 {
    @apply text-lg tracking-wide;
  }
  p {
    @apply mb-3;
  }
  li {
    @apply text-lg uppercase hover:text-hover;
  }
  a {
    @apply hover:text-hover transition duration-300 ease-in-out;
  }
  input {
    @apply mb-2 p-2 rounded bg-secondary;
  }
  textarea {
    @apply p-2 rounded h-28 bg-secondary;
  }
}

@layer components {
  .silvagenitus {
    @apply font-jackthin tracking-tight text-white sm:text-6xl text-5xl;
  }
  .productInfo {
    @apply md:w-1/2 w-2/3 px-5 pb-10 self-center;
  }
  .productImg {
    @apply md:w-1/2 w-2/3 p-5 self-center;
  }
  .orderButton {
    @apply bg-primary text-secondary rounded-lg w-32 h-10 mt-6 flex justify-center hover:bg-hover transition duration-300 ease-in-out;
  }
  .cog-button {
    @apply bg-primary text-secondary rounded-lg w-32 h-10 mt-6 flex justify-center items-center hover:bg-hover;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}
